<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fbraun.devicecabinet" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="11"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".MyApplication">
        <activity
            android:name=".TabHostManager"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.lists.device.AvailableListActivity"
            android:label="OverViewList"
            android:parentActivityName=".TabHostManager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TabHostManager" />
        </activity>
        <activity
            android:name=".activities.lists.device.BookedListActivity"
            android:label="BookedList"
            android:parentActivityName=".TabHostManager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TabHostManager" />
        </activity>
        <activity
            android:name=".activities.lists.device.CurrentDeviceListActivity"
            android:label="CurrentDeviceList"
            android:parentActivityName=".TabHostManager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TabHostManager" />
        </activity>
        <activity
            android:name=".activities.DeviceActivity"
            android:label="DeviceView"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.lists.device.AvailableListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.lists.device.AvailableListActivity" />
        </activity>
        <activity
            android:name=".activities.CreateDeviceActivity"
            android:label="CreateDevice"
            android:parentActivityName=".activities.lists.device.AvailableListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.lists.device.AvailableListActivity" />
        </activity>
        <activity
            android:name=".activities.CreatePersonActivity"
            android:label="Create Person"
            android:parentActivityName=".activities.lists.device.AvailableListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.lists.device.AvailableListActivity" />
        </activity>
        <activity
            android:name=".activities.lists.person.PersonListActivity"
            android:label="List of Persons"
            android:parentActivityName=".activities.DeviceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DeviceActivity" />
        </activity>
    </application>

</manifest>
