<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fbraun.devicecabinet" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="11"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".VolleyApplication">
        <activity
            android:name=".OverViewLists.TabHostManager"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OverViewLists.AvailableList"
            android:label="OverViewList"
            android:parentActivityName=".OverViewLists.TabHostManager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OverViewLists.TabHostManager" />
        </activity>
        <activity
            android:name=".OverViewLists.BookedList"
            android:label="BookedList"
            android:parentActivityName=".OverViewLists.TabHostManager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OverViewLists.TabHostManager" />
        </activity>
        <activity
            android:name=".OverViewLists.CurrentDeviceList"
            android:label="CurrentDeviceList"
            android:parentActivityName=".OverViewLists.TabHostManager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OverViewLists.TabHostManager" />
        </activity>
        <activity
            android:name=".DeviceView"
            android:label="DeviceView"
            android:parentActivityName=".OverViewLists.AvailableList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OverViewLists.AvailableList" />
        </activity>
        <activity
            android:name=".CreateDeviceView"
            android:label="CreateDevice"
            android:parentActivityName=".OverViewLists.AvailableList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OverViewLists.AvailableList" />
        </activity>
        <activity
            android:name=".CreatePersonView"
            android:label="Create Person"
            android:parentActivityName=".OverViewLists.AvailableList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OverViewLists.AvailableList" />
        </activity>
        <activity
            android:name=".personList.PersonList"
            android:label="List of Persons"
            android:parentActivityName=".DeviceView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DeviceView" />
        </activity>
    </application>

</manifest>
